{% extends "portal/layout.html" %}
{% load static %}

{% block head %}
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
        }

        .card {
            width: 18rem;
            background-color: #fff;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s;
        }

        .card:hover {
            transform: translateY(-0.5rem);
        }

        .card img {
            width: 100%;
            height: 12rem;
            object-fit: cover;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        .card-body {
            padding: 1rem;
        }

        .card-title {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: #333;
        }

        .btn {
            background-color: #f75394;
            color: #fff;
            text-decoration: none;
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            margin-top: 1rem;
            display: inline-block;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #f15b9c;
        }
    </style>

{% endblock head %}



{% block body %}


    <section class="cover-page d-flex flex-column align-items-center justify-content-center">
            <div class="cover-text d-flex flex-column align-items-center justify-content-center">
                <h1 class="w">Find Your Pets</h1>
                <p>List your missing pet or help find them.</p>
            </div>
    </section>

    <main>
        <section class="recent-lost">
            <h2 class="text-center m-2">Recently Lost Pets</h2>
            <div class="card-container p-5">
                {% for listing in recent_lost_listings %}
                <div class="card">
                    <img src="{% get_media_prefix %}{{ listing.pet.pet_profile }}" alt="Pet Image">
                    <div class="card-body">
                        <h2 class="card-title">{{ listing.pet.pet_name }}</h2>
                        <h6 class="">Owner: {{ listing.user_id.username }}</h6>
                        <p class="card-text">{{ listing.pet.pet_description }}</p>
                        <a href="{% url 'portal:view-comment' listing_id=listing.id %}" class="btn">Mark Location</a>
                        <a href="{% url 'portal:listing-map' listing_id=listing.id %}" class="btn">Last Seen Locations</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>

{% endblock body%}