{% extends "portal/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <style>
        .backdrop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(10px);
            z-index: -1;
        }


        .container {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
        }

        .card {
            width: 18rem;
            background-color: #fff;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s;
        }

        .card:hover {
            transform: translateY(-0.5rem);
        }

        .card img {
            width: 100%;
            height: 12rem;
            object-fit: cover;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        .card-body {
            padding: 1rem;
        }

        .card-title {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: #333;
        }

        .btn {
            background-color: #f75394;
            color: #fff;
            text-decoration: none;
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            margin-top: 1rem;
            display: inline-block;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #f15b9c;
        }

        .add-modal {
            display: none;
            position: absolute;
            top: -100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            border-radius: 1rem;
            padding: 2rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            z-index: 999;
            transition: top 0.5s ease-in-out;
        }

        .close-btn {
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
            color: #333;
            font-size: 1.5rem;
        }
    </style>

    <div class="backdrop"></div>

    <div class="container">
        <h1 style="">Lost Pets</h1>
        <div class="add-listing">
            <button id="add-pet-btn" class="btn mb-5">Add a Lost Pet</button>
        </div>
        <div class="card-container">
            {% for data in lost_data %}
            <div class="card">
                <img src="{% get_media_prefix %}{{ data.pet.pet_profile }}" alt="Pet Image">
                <div class="card-body">
                    <h2 class="card-title">{{ data.pet.pet_name }}</h2>
                    <h6 class="">Owner: {{ data.user_id.username }}</h6>
                    <p class="card-text">{{ data.pet.pet_description }}</p>
                    <a href="{% url 'portal:view-comment' listing_id=data.id %}" class="btn">Mark Location</a>
                    <a href="{% url 'portal:listing-map' listing_id=data.id %}" class="btn">Last Seen Locations</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div id="add-form-container" class="add-modal">
            <span class="close-btn" id="close-btn">&times;</span>
            <form action="" method="post" class="input-group d-flex flex-column">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.date_lost|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.date_found|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.pet|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.more_info|as_crispy_field }}
                </div>
                <div class="w-100">
                    <button type="submit" class="btn w-100">Add</button>
                </div>
            </form>
        </div>
    </div>

{% endblock body %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const addPetBtn = document.getElementById("add-pet-btn");
            const formContainer = document.getElementById("add-form-container");
            const closeBtn = document.getElementById("close-btn");

            addPetBtn.addEventListener("click", function () {
                formContainer.style.display = "block";
                setTimeout(() => {
                    formContainer.style.top = "10%";
                }, 50);
            });

            closeBtn.addEventListener("click", function () {
                formContainer.style.top = "-100%";
                setTimeout(() => {
                    formContainer.style.display = "none";
                }, 500);
            });
        });
    </script>
{% endblock script %}
