*{
    scroll-behavior: smooth;
    
}

body{
    font-family: "Poppins", sans-serif;
    scrollbar-color: rgb(212, 210, 210);
}



.cover-page .cover-text{
    h1{
        font-weight: bold;
    }
}

// body .navbar {
//     // background-color: rgba(245,245,245,1);
// }

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}