<!-- change_password.html -->
{% extends 'portal/layout.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container mt-4">
    <h2>Change Password</h2>
    <hr>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.old_password|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.new_password1|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.new_password2|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Change Password</button>
                <a href="{% url 'users:user-profile' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
