{% extends "portal/layout.html" %}
{% load crispy_forms_tags %}

{% block head %}
    <style>
        /* Add custom styles for reviews page */
        /* Style the container for reviews */
        .reviews-container {
            margin-top: 20px;
        }

        /* Style each review card */
        .review-card {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
        }

        /* Style the user profile image */
        .profile-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        /* Style the form container */
        .add-review-form-container {
            margin-top: 20px;
        }

        /* Style the add review button */
        .add-review-btn {
            margin-top: 20px;
            cursor: pointer;
        }
    </style>
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="reviews-container">
            <div class="add-review-form-container my-3">
                <h2>Share Your Experience</h2>
                <form method="post" id="add-review-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                </form>
            </div>
            <h2>Explore User Stories</h2>
            {% comment %} <button class="add-review-btn btn btn-primary my-4">Add Review</button> {% endcomment %}
            {% for review in reviews %}
                <div class="review-card">
                    <div class="d-flex align-items-center mb-2">
                        {% if review.user.profile_picture %}
                            <img src="{{ review.user.profile_picture.url }}" alt="Profile Picture" class="profile-image">
                        {% else %}
                            <div class="profile-image" style="background-color: #ccc;"></div>
                        {% endif %}
                        <div>
                            <p><strong>User:</strong> {{ review.user.first_name }} {{ review.user.last_name }}</p>
                            <p><strong>Rating:</strong> {{ review.rating }}</p>
                        </div>
                    </div>
                    <p><strong>Comment:</strong> {{ review.comment }}</p>
                    <hr>
                </div>
            {% empty %}
                <p>No reviews available.</p>
            {% endfor %}
        </div>
    </div>

    <script>
        // Script to toggle visibility of add review form
        const addReviewBtn = document.querySelector('.add-review-btn');
        const addReviewFormContainer = document.querySelector('.add-review-form-container');

        addReviewBtn.addEventListener('click', () => {
            addReviewFormContainer.style.display = 'block';
        });
    </script>
{% endblock body %}
