{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="{% static 'users/js/validation.js' %}"></script>
    <link rel="stylesheet" href="{% static "users/css/signup.css" %}">
</head>
<body>
    <div class="container-lg d-flex h-100 align-items-center justify-content-center p-5">
        <div class="card text-center main-card shadow-lg">
            <div class="card-header login-title">
                <i class="fa-solid fa-paw"></i>
                <h5>Help guide the paws back home!</h5>
            </div>
            <div class="card-body d-flex justify-content-center align-items-center">
                <form enctype="multipart/form-data" action="" method="post" class="row g-5 ms-4">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="input-group mb-3 w-100">
                            {{ form.username|as_crispy_field }}
                        </div>
                        <div class="input-group mb-3 w-100">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="input-group mb-3 w-100">
                            {{ form.password1|as_crispy_field }}
                        </div>
                        <div class="input-group mb-3 w-100">
                            {{ form.password2|as_crispy_field }}
                        </div>
                        <div class="input-group mb-3 w-100">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="input-group mb-3 w-100">
                            {{ form.last_name|as_crispy_field }}
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3 w-100">
                            {{ form.profile_picture|as_crispy_field }}
                        </div>
                        <div class="input-group mb-3 w-100">
                            {{ form.address|as_crispy_field }}
                        </div>
                        <div class="input-group mb-3 w-100">
                            {{ form.contact|as_crispy_field }}
                        </div>
                        <div class="input-group mb-3 w-100 text-center">
                            {{ form.date_of_birth|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-12 w-100">
                        <button type="submit" class="btn btn-primary py-3 px-5 m-2 w-25">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/16219efeb4.js" crossorigin="anonymous"></script>
</body>
</html>