body{
    background: url("../images/loginbg.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}


body .card{
    background-color: rgba(248,248,255, .2);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    font-size: 1.1em;

    label{
        font-weight: 600;
    }
}
body .card-body{
    background-color: rgba(248,248,255, .02);
    backdrop-filter: blur(25px);
}


.input-group input, .select, option{
    background-color: rgba(245,245,245, .4);
    backdrop-filter: blur(15px);
    border: none;
    padding: .5em;
}

.input-group .asteriskField{
    border: none;
    background: none;
}
.input-group input:focus{
    background-color: rgba(245,245,245, .7);
}


#id_pet_description{
    resize: none;
    background-color: rgba(245,245,245, .4);
    backdrop-filter: blur(15px);
}